body {
    background-image: url(background.jpg);
    background-size: 1950px, auto;
}

.container {
    width: 45%;
    margin: auto;
    background-color: rgba(0, 0, 0, 55%);
    border-radius: 15px;
    text-align: center;
    padding: 1%;
}

header {
    display: block;
    margin-bottom: 10%;
    padding-bottom: 5%;
}

.logo {
    width: 20%;
    display: block;
}

.logo-text {
    margin-bottom: 5%;
    color: rgb(15, 249, 46);
    font-size: 35px;
    display: block;
    text-shadow: 2px 1px black;
}

nav {
    background-color: rgba(15, 249, 46, 25%);
    padding-left: 4%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 45px;
    border-style: solid;
    border-color: aliceblue;
    margin-top: 15px;
    display: block;
}

button {
    text-shadow: 2px 2px 3px black;
    font-size: 25px;
    border-radius: 30px;
    border-width: 2px;
    background-color: rgba(15, 249, 46, 35%);
    color: rgb(15, 249, 46);
    border-color: aliceblue;
    margin-right: 20px;
}

main {
    color: aliceblue;
    text-align: center;
    font-size: 25px;
    margin-top: 18px;
    text-shadow: 1px 1px rgb(15, 249, 46);
}

.ricarica1 {
    /*! carica 50% */
    background-color: orange;
    padding-left: 15%;
    padding-right: 15%;
    border-radius: 200px;
    text-shadow: 2px 1.5px 2.5px black;
    font-style: oblique;
}

.ricarica2 {
    /*! carica 70% */
    background-color: rgb(15, 249, 46);
    padding-left: 25%;
    padding-right: 25%;
    border-radius: 200px;
    text-shadow: 2px 1.5px 2.5px black;
    font-style: oblique;
}

.ricarica3 {
    /*! carica 30% */
    background-color: red;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 200px;
    text-shadow: 2px 1.5px 2.5px black;
    font-style: oblique;
}

footer {
    text-align: center;
    color: aliceblue;
    font-size: 13px;
}

#name-footer {
    color: rgb(15, 249, 46);
    font-size: 18px;
    font-style: oblique;
}